<style>
    body{
        color: white;
    }
    .navbar{
        background-color: black;
        color: #fff;
        /* margin-bottom: 200px; */
    }
    .navbar-nav{
        font-size: 1.3rem;
        font-weight: 550;
    }
    .me-5{
       opacity: 0.6;
    }
</style>

<nav class="navbar navbar-expand-lg  p-5  sticky-top">
    <div class="container-fluid">
      <form class="d-flex">
        <input class="form-control me-2 search-inp" type="search" name="movie" placeholder="Movies, Show and More">
        <!-- <button class="btn btn-dark search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search -->
        <!-- </button> -->
      </form>
    </div>
  </nav>