<div class="sidebar">
  <div class="logo">
    <img src="/hostarLogo.png" alt="image" >
    <button class="btn btn-dark">Subscribe <i class="fa-solid fa-angle-right"></i></button>
  </div>
  <div class="icons">
    <div><i class="fa-regular fa-circle-user"></i></div>
    <div onclick="window.location.href='//localhost:8080/hostar/home/search'" style="cursor: pointer;">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div><i class="fa-solid fa-house"></i></div>
    <div><i class="fa-solid fa-tv"></i></div>
    <div><i class="fa-solid fa-folder-closed"></i></div>
    <div><i class="fa-solid fa-volleyball"></i></div>
    <div><i class="fa-solid fa-table-list"></i></div>
  </div>
</div>
