/* allListings and search page styling */

body {
  background-color: #101010; 
  color: white;
  cursor: pointer;
}
.heading {
  font-size: 2.1rem;
  font-weight: 600;
  opacity: 1;
  word-spacing: 1px;
  text-align: center;
}
.container{
  background-color: #101010;
}
.cards-container {
  background-color: #101010;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  width: 90%;
  justify-self: end;
  margin-top: 5%;
  margin-bottom:10%;
}
.smallcard:hover {
  margin-left: 10px;
  transform: scale(1.5);
}
/* navbar */
.navbar{
  background-color: #101010 !important;
}
.logo{
  display: none;
}
.icons{
  margin-top: 50px;
}

/* Search Btn */
.search-btn {
   font-weight: 300;
   font-size: 1.2rem;
   border: 0.1px solid rgba(255, 255, 255,0.3);
   border-radius: 5px;
   padding: 0 0.5rem 0 0.5rem; 
}
.search-btn:hover {
  background-color: black;
  color: #fff;
}
 .search-btn i {
  display: inline;
  margin-right: 0.5rem;
  font-size: 1rem;
  opacity: 0.5;
}
.search-inp {
  border-radius: 5px;
  width: 85vw;
  padding: 0.5rem 3rem 0.5rem 3rem;
}

/* Style for the search input field */

input[type="search"]{
  font-size: 1.4rem;
  background-color: #1f1e1e;
}
input[type="search"]::placeholder{
  color: white;
  opacity: 0.6;
}
.displayNone{
  display: none;
}

@media (max-width:600px) {
 
  .cards-container {
    background-color:#101010;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin-bottom: 25%;
  }

  /* navbar */
  .navbar{
    background-color:#101010 !important;
  }
  .search-btn {
    background-color: #1f1e1e;
    color: #fff;
    border: 1px solid white;
    border-radius: 5px;
    padding: 0.5rem;
  }
  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }
  .search-inp {
    border-radius: 5px;
    width: 250px;
    margin-left: -2rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
  }

  /* sidebar into footer */
  .icons{
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly; 
    margin-top: 1.4rem;
  }
  .heading {
    font-size: 1.5rem;
  }
}
